html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;  
    background: #fff;
}

.cont {
    width: 100vh;
    height: 100%;
    margin: 0 auto;
}

.box {
    width: 49vh;
    height: 49%;
    margin: 0.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45vh;
    color: #333;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

/*icon font from icon moon*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ozz6h7');
	src:url('fonts/icomoon.eot?#iefixozz6h7') format('embedded-opentype'),
		url('fonts/icomoon.woff?ozz6h7') format('woff'),
		url('fonts/icomoon.ttf?ozz6h7') format('truetype'),
		url('fonts/icomoon.svg?ozz6h7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-stop2:before {
	content: "\ea1e";
}

.icon-backward2:before {
	content: "\ea1f";
}

.icon-forward3:before {
	content: "\ea20";
}

.icon-first:before {
	content: "\ea21";
}

.icon-last:before {
	content: "\ea22";
}

.icon-previous2:before {
	content: "\ea23";
}

.icon-next2:before {
	content: "\ea24";
}

.icon-eject:before {
	content: "\ea25";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-medium:before {
	content: "\ea27";
}

.icon-volume-low:before {
	content: "\ea28";
}

.icon-volume-mute:before {
	content: "\ea29";
}

.icon-volume-mute2:before {
	content: "\ea2a";
}

.icon-volume-increase:before {
	content: "\ea2b";
}

.icon-volume-decrease:before {
	content: "\ea2c";
}




