html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;  
    background: #222;
    -webkit-font-smoothing: antialiased;
    color: #555;
}

.cont {
    width: calc(200vh / 4);
    height: 100%;
    margin: 0 auto;
}

/*css inspired from http://codepen.io/waynespiegel/pen/sroaK*/
.box {
    border: 2vh solid #555;
    width: calc(100vh / 4 - 4vh);
    height: calc(100% / 4 - 4%);
    margin: 4%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: calc(50vh / 4);
    box-sizing: border-box;
    border-radius: 25%;
    transition: color .5s, border-color .5s;    
}

.on {
    color: #fd0;
    border-color: #fd0;
    transition: 0s;
}

/*icon font from icon moon*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ozz6h7');
	src:url('fonts/icomoon.eot?#iefixozz6h7') format('embedded-opentype'),
		url('fonts/icomoon.woff?ozz6h7') format('woff'),
		url('fonts/icomoon.ttf?ozz6h7') format('truetype'),
		url('fonts/icomoon.svg?ozz6h7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-stop2:before {
	content: "\ea1e";
}

.icon-backward2:before {
	content: "\ea1f";
}

.icon-forward3:before {
	content: "\ea20";
}

.icon-first:before {
	content: "\ea21";
}

.icon-last:before {
	content: "\ea22";
}

.icon-previous2:before {
	content: "\ea23";
}

.icon-next2:before {
	content: "\ea24";
}

.icon-eject:before {
	content: "\ea25";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-medium:before {
	content: "\ea27";
}

.icon-volume-low:before {
	content: "\ea28";
}

.icon-volume-mute:before {
	content: "\ea29";
}

.icon-volume-mute2:before {
	content: "\ea2a";
}

.icon-volume-increase:before {
	content: "\ea2b";
}

.icon-volume-decrease:before {
	content: "\ea2c";
}




